
# Untracked files
/matlab/vectors/*/
/matlab/vectors/*.tgz
/matlab/vectors/*.tar
/matlab/*.asv

/de1soc/hps_sw/workspace/
/de1soc/hw/db/
/de1soc/hw/incremental_db/
/de1soc/hw/ip/simulation/libraries/
/de1soc/hw/ip/simulation/uvm_tb/_work/
/de1soc/hw/ip/simulation/uvm_tb/transcript
/de1soc/hw/ip/simulation/uvm_tb/*_stacktrace.vstf
/de1soc/hw/ip/simulation/vectors/*/
/de1soc/hw/ip/simulation/work/
/de1soc/hw/ip/simulation/wlft*
/de1soc/hw/ip/work/
/de1soc/hw/output_files/
/de1soc/hw/release/
/de1soc/hw/soc_system/
/de1soc/backup/

*.bin
*.hex
*.out
*.o
*.d
*.rar
*.zip
*log.txt
*.mpf
*.cr.mti
*.wlf

*.project
*.cproject
*.sublime-project
*.sublime-workspace
*octave-workspace
